$color-black: #000000;
$color-darkcyan: #008b8b;

.card-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.95vw;

  .card-item_image {
    border-radius: 19.5vw;
    display: block;
    height: 7.81vw;
    width: 7.81vw;
  }

  .card-item_title {
    color: $color-darkcyan;
    font-size: 2.53vw;
  }
  .card-item_value {
    color: $color-black;
    font-size: 2.53vw;
    font-weight: 900;
  }
}

@media only screen and (min-width: 640px) {
  .card-item {
    flex-direction: column;
    .card-item_image {
      padding: 1.56vw;
    }
    .card-item_title {
      font-size: 1.3vw;
      font-weight: 900;
      padding-left: 1vw;
      padding-top: 1vw;
      text-transform: uppercase;
    }
    .card-item_value {
      font-size: 1.5vw;
      padding-left: 1vw;
      padding-top: 1.5vw;
    }
  }
}
