$color-white: #ffffff;
$color-darkcyan: #008b8b;
$color-gray: #808080;

.cardform {
  max-width: 48.83vw;

  .cardform_about {
    color: $color-gray;
    font-size: 1vw;
    width: 42vw;
  }

  .cardform_label {
    color: $color-darkcyan;
    display: flex;
    flex-direction: column;
    font-size: 1.4vw;
    font-weight: 800;
    margin-top: 1vw;
    margin-bottom: 1.15vw;
  }

  .cardform_input {
    background: transparent;
    border: 0.098vw solid $color-white;
    box-sizing: border-box;
    font-size: 1vw;
    margin-top: 1vw;
    margin-bottom: 0.195vw;
    overflow: none;
    padding: 0.98vw;
    resize: none;
    width: 100%;
  }
}

@media only screen and (min-width: 640px) {
}
