.menuHeader {
  align-items: center;
  background-color: #87ceeb;
  border: 0.78vw solid #ffffff;
  display: flex;
  font-size: 8vw;
  margin: 0;
  max-width: 100%; }
  .menuHeader .menuHeader-title {
    color: #f5f5f5;
    margin-left: 0.97vw;
    text-transform: uppercase; }
  .menuHeader .menuHeader-icon {
    border-radius: 9.67vw;
    display: block;
    height: 11.72vw;
    margin-left: 1.46vw;
    width: 11.72vw; }

@media only screen and (min-width: 640px) {
  .menuHeader {
    font-size: 5vw; }
  .menuHeader-icon {
    height: 7.8vw;
    width: 7.8vw; } }
