.avatar {
  border-radius: 19.53vw;
  display: block;
  height: 17.58vw;
  margin: 0.98vw auto;
  padding: 0.49vw;
  width: 17.58vw; }

@media only screen and (min-width: 640px) {
  .avatar {
    height: 23.44vw;
    margin: 3.13vw;
    width: 23.44vw; } }
